@model IEnumerable<EntregaSemana8.Models.TbCliente>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <h1>LISTADO DE CLIENTES </h1>
    <h2>
        Buscar<input class="form-control" id="myInput" type="text" placeholder="Buscar..." />
        <br />
    </h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <td scope="col">Codigo Cliente</td>
                <td scope="col">Nombre Cliente</td>
                <td scope="col">Apellido Cliente</td>
                <td scope="col">Dni</td>
                <td scope="col">Telefono</td>
                <td scope="col">Editar</td>
         
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CodCliente</td>
                    <td>@item.NomCli</td>
                    <td>@item.ApeCli</td>
                    <td>@item.DniCli</td>
                    <td>@item.TlfCli</td>
                    <td><a asp-action="Edit" asp-route-id="@item.CodCliente" href="/Cliente/Edit">Editar </a></td>
                    
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>